<!DOCTYPE html>
<html lang="en">
<%- include('./../partials/head.ejs', {style: 'login.css', title: 'Nuevo producto' }) %>

  <body>
    <%- include('./../partials/header') %>
      <main class="main-login">
        <a href="/productos">
          <div class="flecha-volver">
            <img src="/img/flecha.svg" alt="">
            <p>Volver</p>
          </div>
        </a>
        <section class="form-container container col-lg-5 col-md-8 col-sm-12 mx-auto">
          <h2>Creá un <span class="texto-resaltado">nuevo producto!</span></h2>

          <form action="/productos/crearProducto" method="POST" class="base-form crearProducto-form" enctype="multipart/form-data">

            <label for="">Nombre del Producto</label>
            <input type="text" placeholder="Ej: Guitarra eléctrica G&L" name="nombreProducto" id="nombreProducto">
            <% if (locals.errors && errors.nombreProducto) { %>
              <div class="text-danger">
                <i class="fa-solid fa-triangle-exclamation"></i> <%= errors.nombreProducto.msg %>
              </div>
              <% } %>
            <div class="text-danger nombreProducto"></div>
            
            <label for="descripcionProductoCorta">Breve descripción</label>
            <textarea placeholder="Color, tamaño, año, etc..." name="descripcionProductoCorta" id="descripcionProductoCorta" cols="30"
              rows="3"></textarea>
              <% if (locals.errors && errors.descripcionProductoCorta) { %>
                <div class="text-danger">
                  <i class="fa-solid fa-triangle-exclamation"></i> <%= errors.descripcionProductoCorta.msg %>
                </div>
                <% } %>
                <div class="text-danger descripcionCorta"></div>

            <label for="">Precio en ARS</label>
            <input type="number" name="precioProducto" placeholder="Precio del producto" id="precioProducto">
            <% if (locals.errors && errors.precioProducto) { %>
              <div class="text-danger">
                <i class="fa-solid fa-triangle-exclamation"></i> <%= errors.precioProducto.msg %>
              </div>
              <% } %>
              <div class="text-danger precioProducto"></div>

            <label for="">Precio de Envío</label>
            <input type="number" name="precioEnvio" id="precioEnvio" placeholder="Precio del envio, si es gratis, poné $0">
            <% if (locals.errors && errors.precioEnvio) { %>
              <div class="text-danger">
                <i class="fa-solid fa-triangle-exclamation"></i> <%= errors.precioEnvio.msg %>
              </div>
              <% } %>
              <div class="text-danger precioEnvio"></div>

            <div class="dos-col">
              <label for="estado">Estado</label>
              <label><input type="radio" name="estadoProducto" id="estadoNuevo" value="Nuevo" checked> Nuevo</label>
              <label><input type="radio" name="estadoProducto" id="estadoUsado" value="Usado"> Usado</label>
            </div>

            <label for="descripcionProductoLarga">Descripción detallada</label>
            <textarea placeholder="Descripción detallada del producto" name="descripcionProductoLarga" id="descripcionProductoLarga" cols="30"
              rows="6"></textarea>
              <% if (locals.errors && errors.descripcionProductoLarga) { %>
                <div class="text-danger">
                  <i class="fa-solid fa-triangle-exclamation"></i> <%= errors.descripcionProductoLarga.msg %>
                </div>
                <% } %>
                <div class="text-danger descripcionLarga"></div>

             <label for="categoriaProducto">Categoría del Producto</label>
            <select name="categoriaProducto">
              <%for(let i=0; i<categoria.length; i++){%>
              <option value="<%= categoria[i].id %>"><%= categoria[i].nombre %></option>
              <% } %>
            </select>

            <label for="fotoDestacada">Imagen destacada</label>
            <input type="file" name="fotoDestacada" id="fotoDestacada">

            <% if (locals.errors && errors.fotoDestacada) { %>
              <div class="text-danger">
                <i class="fa-solid fa-triangle-exclamation"></i> <%= errors.fotoDestacada.msg %>
              </div>
              <% } %>
              <div class="text-danger fotoDestacada"></div>
              
            <div class="dos-col">
              <button type="reset" class="form-btn inicio-btn">Borrar todo</button>
              <button type="submit" class="form-btn inicio-btn">Agregar producto</button>
            </div>
          </form>
        </section>
      </main>
      <%- include('./../partials/footer') %>
        <script src="https://kit.fontawesome.com/2396c6fc63.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"></script>

          <script src= "../js/ValFrontProducto.js"></script>
  </body>

</html>