<!DOCTYPE html>
<html lang="en">
<%- include('./../partials/head.ejs', {style: 'login.css', title: 'Editar producto' }) %>

  <body>
    <%- include('./../partials/header') %>
      <main class="main-login">
        <a href="/productos/<%= producto.id %>">
          <div class="flecha-volver">
            <img src="/img/flecha.svg" alt="">
            <p>Volver</p>
          </div>
        </a>
        <section class="form-container container col-lg-5 col-md-8 col-sm-12 mx-auto">
          <h1>Editá <span class="texto-resaltado">el producto!</span></h1>
          <form id="productForm" action="/productos/editarProducto/<%= producto.id %>?_method=PATCH" method="POST"
            class="base-form crearProducto-form" enctype="multipart/form-data">

            <name for="nombreProducto">Nombre del Producto</name>
            <input type="text" value="<%= producto.nombreProducto %>" name="nombreProducto">

            <name for="descripcionProductoCorta">Breve descripción</name>
            <textarea name="descripcionProductoCorta" id="" cols="30"
              rows="3"><%= producto.descripcionProductoCorta %></textarea>

            <name for="nombreProducto">Precio en ARS</name>
            <input type="number" name="precioProducto" value="<%= producto.precioProducto %>">

            <label for="">Precio de Envío</label>
            <input type="number" name="precioEnvio" value="<%= producto.precioEnvio %>">

            <div class="dos-col">

              <name for="estado">Estado</name>
              <%if (producto.estadoProducto==="Nuevo" ) { %>
                <name><input type="radio" name="estadoProducto" value="Nuevo" checked> Nuevo</name>
                <name><input type="radio" name="estadoProducto" value="Usado"> Usado</name>
                <% } else { %>
                  <name><input type="radio" name="estadoProducto" value="Nuevo"> Nuevo</name>
                  <name><input type="radio" name="estadoProducto" value="Usado" checked> Usado</name>
                  <%}%>
            </div>

            <name for="descripcionProductoLarga">Descripción detallada</name>
            <textarea name="descripcionProductoLarga" id="" cols="30"
              rows="6"><%= producto.descripcionProductoLarga %></textarea>

            <name for="categoriaProducto">Categoría del Producto</name>
            <select name="categoriaProducto">

              <% for(let i=0; i<categoria.length; i++) {%>
                <% if (categoria[i].id == producto.categoria_id ) {%>
                  <option value="<%= categoria[i].id %>" selected> <%= categoria[i].nombre %> </option>
                  <% } else { %>
                  <option value="<%= categoria[i].id %>"> <%= categoria[i].nombre %> </option>
                <% } %>
              <% } %>

            </select>
            
            <name for="fotoDestacada">Imagen destacada</name>
            <div class="img-cont">
              <img src="http://res.cloudinary.com/dlf8flk1o/image/upload/v1692641327/productos/<%=producto.imagen%>" alt="foto">
            </div>
            <input type="file" name="fotoDestacada">
            <div class="dos-col">
              <button type="button" id="resetBtn" class="form-btn inicio-btn">Borrar todo</button>
              <button type="submit" class="form-btn inicio-btn">Aceptar</button>
            </div>
          </form>
        </section>
      </main>
      
      <%- include('./../partials/footer') %>
        <script src="https://kit.fontawesome.com/2396c6fc63.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"></script>
        <script>
          // Add an event listener to the reset button
          document.getElementById('resetBtn').addEventListener('click', function ()
          {
            // Get all form fields
            const formFields = document.querySelectorAll('#productForm input, #productForm select, #productForm textarea');

            // Reset each form field to its default value
            formFields.forEach(field =>
            {
              if (field.type === 'radio' || field.type === 'checkbox')
              {
                // For radio and checkbox, uncheck them
                field.checked = false;
              } else
              {
                // For other fields, set their value to empty string
                field.value = '';
              }
            });
          });
        </script>
  </body>

</html>