<!DOCTYPE html>
<html lang="en">
<%- include('./../partials/head.ejs', {style: '', title: 'Home' }) %>


<body>
  <%- include('./../partials/header') %>
    <!--COMIENZA: SLIDER - AGUS -->
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="5" aria-label="Slide 6"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-slides slide1">
            <div class="overlay-text">
              <h2>Obtené el <span class="highlight-text">25% de descuento</span> en tu<strong> primera
                  compra</strong></h2>
              <button type="button" class="btn btn-fucsia">Registrate aquí</button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-slides slide2">
            <div class="overlay-text">
              <h2>Todo para tu <strong>home studio</strong> al <span class="highlight-text">mejor precio</span></h2>
              <button type="button" class="btn btn-fucsia">Ver más</button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-slides slide3">
            <div class="overlay-text">
              <h2>Los primeros acordes con tu <span class="highlight-text">primera guitarra</span></h2>
              <button type="button" class="btn btn-fucsia">Encontrala aquí</button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-slides slide4">
            <div class="overlay-text">
              <h2>Todos los accesorios para tu <span class="highlight-text">batería</span></h2>
              <button type="button" class="btn btn-fucsia">Ver todos</button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-slides slide5">
            <div class="overlay-text">
              <p class="fucsia-text">Solo por hoy</p>
              <h2><span class="highlight-text">30% off</span> en accesorios</h2>
              <button type="button" class="btn btn-fucsia">Ver más</button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-slides slide6">
            <div class="overlay-text">
              <h2>Vientos, cuerdas, micrófonos, teclados...</h2>
              <button type="button" class="btn btn-fucsia">Ver más</button>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon custom-control" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!--TERMINA: SLIDER - AGUS -->

    <!--COMIENZA: CATEGORIAS - AGUS -->
    <section class="categorias-home container text-center">
      <h2>Categorías</h2>
      <div class="row">
        <article class="col-lg-2 col-md-4 col-4 categoria-producto-home">
          <img src="/img/categorias/icono_guitarra.svg" alt="">
          <p>Guitarras<br>Bajos</p>
        </article>
        <article class="col-lg-2 col-md-4 col-4 categoria-producto-home">
          <img src="/img/categorias/icono_bateria.svg" alt="">
          <p>Batería<br>Percusión</p>
        </article>
        <article class="col-lg-2 col-md-4 col-4 categoria-producto-home">
          <img src="/img/categorias/icono_teclados.svg" alt="">
          <p>Teclados<br>Sintetizadores</p>
        </article>
        <article class="col-lg-2 col-md-4 col-4 categoria-producto-home">
          <img src="/img/categorias/icono_estudiograbacion.svg" alt="">
          <p>Estudio de Grabación, Dj's</p>
        </article>
        <article class="col-lg-2 col-md-4 col-4 categoria-producto-home">
          <img src="/img/categorias/icono_vientos.svg" alt="">
          <p>Vientos</p>
        </article>
        <article class="col-lg-2 col-md-4 col-4 categoria-producto-home">
          <img src="/img/categorias/icono_cuerdas.svg" alt="">
          <p>Cuerdas</p>
        </article>
      </div>
    </section>

    <!--TERMINA: CATEGORIAS - AGUS -->

    <!--COMIENZA: PRODUCTOS DESTACADOS - KIARA -->

    <!--desktop -->

    <section class="container text-center containerDestacados secc-desk">
      <h2 class="tituloDestacados">Productos destacados</h2>
      <div id="carouselExampleDestacados" class="carousel slide carouselDestacados ">
        <div class="carousel-inner carousel-innerDestacados">
          <div class="carousel-item active container text-center">
            <div class="destacados row justify-content-start">
              <% for (let i=0; i < 3; i++) { %>
                <div class="contenedorProductoDestacado col-4">
                  <a href="producto/<%=producto[i].id%>">
                    <div class="productoDestacado">
                      <div class="seccionImgDestacado">
                        <% if (producto[i].estadoProducto=="Nuevo" ) { %>
                          <div class="etiquetasDestacados">
                            <img class="nuevosUsados" src="/img/productos_destacados/nuevo_destacado.svg"
                              alt="nuevoUsado">
                            <div class="iconoDestacado">
                              <i class="fa-regular fa-heart noFav" style="color: #3333ff;"></i>
                              <i class="fa-solid fa-heart siFav" style="color: #3333ff;"></i>
                            </div>
                          </div>
                          <%}%>
                            <div class="contenedorImgProducto">
                              <img class="imgProducto " src="/img/productos/<%=producto[i].fotoDestacada%>" alt="img-">
                            </div>
                      </div>
                      <div class="informacionProducto">
                        <p class="nombreProductoDestacado">
                          <%=producto[i].nombreProducto%>
                        </p>
                        <%if(producto[i].envio==0) { %>
                          <div class="envio-prod">Envio <span style="font-weight: 600;">GRATIS</span>
                          </div>
                          <%} else{ %>
                            <div class="envio-prod">Envio <span style="font-weight: 600;">
                                $ <%=producto[i].envio%>
                              </span>
                            </div>
                            <%} %>
                              <p class="precioProductoDestacado">$ <%=producto[i].precioProducto%>
                              </p>
                      </div>
                    </div>
                  </a>
                </div>
                <%}%>
            </div>
          </div>
          <div class="carousel-item container text-center">
            <div class="destacados row justify-content-start">
              <% for (let i=3; i < 6; i++) { %>
                <div class="contenedorProductoDestacado col-4">
                  <a href="producto/<%=producto[i].id%>">
                    <div class="productoDestacado">
                      <div class="seccionImgDestacado">
                        <% if (producto[i].estadoProducto=="Nuevo" ) { %>
                          <div class="etiquetasDestacados">
                            <img class="nuevosUsados" src="/img/productos_destacados/nuevo_destacado.svg"
                              alt="nuevoUsado">
                            <div class="iconoDestacado">
                              <i class="fa-regular fa-heart noFav" style="color: #3333ff;"></i>
                              <i class="fa-solid fa-heart siFav" style="color: #3333ff;"></i>
                            </div>
                          </div>
                          <%}%>
                            <div class="contenedorImgProducto">
                              <img class="imgProducto " src="/img/productos/<%=producto[i].fotoDestacada%>" alt="img-">
                            </div>
                      </div>
                      <div class="informacionProducto">
                        <p class="nombreProductoDestacado">
                          <%=producto[i].nombreProducto%>
                        </p>
                        <%if(producto[i].envio==0) { %>
                          <div class="envio-prod">Envio <span style="font-weight: 600;">GRATIS</span>
                          </div>
                          <%} else{ %>
                            <div class="envio-prod">Envio <span style="font-weight: 600;">
                                $ <%=producto[i].envio%>
                              </span>
                            </div>
                            <%} %>
                              <p class="precioProductoDestacado">$ <%=producto[i].precioProducto%>
                              </p>
                      </div>
                    </div>
                  </a>
                </div>
                <%}%>
            </div>
          </div>
          <div class="carousel-item  container text-center">
            <div class="destacados row justify-content-start">
              <% for (let i=6; i < 9; i++) { %>
                <div class="contenedorProductoDestacado col-4">
                  <a href="producto/<%=producto[i].id%>">
                    <div class="productoDestacado">
                      <div class="seccionImgDestacado">
                        <% if (producto[i].estadoProducto=="Nuevo" ) { %>
                          <div class="etiquetasDestacados">
                            <img class="nuevosUsados" src="/img/productos_destacados/nuevo_destacado.svg"
                              alt="nuevoUsado">
                            <div class="iconoDestacado">
                              <i class="fa-regular fa-heart noFav" style="color: #3333ff;"></i>
                              <i class="fa-solid fa-heart siFav" style="color: #3333ff;"></i>
                            </div>
                          </div>
                          <%}%>
                            <div class="contenedorImgProducto">
                              <img class="imgProducto " src="/img/productos/<%=producto[i].fotoDestacada%>" alt="img-">
                            </div>
                      </div>
                      <div class="informacionProducto">
                        <p class="nombreProductoDestacado">
                          <%=producto[i].nombreProducto%>
                        </p>
                        <%if(producto[i].envio==0) { %>
                          <div class="envio-prod">Envio <span style="font-weight: 600;">GRATIS</span>
                          </div>
                          <%} else{ %>
                            <div class="envio-prod">Envio <span style="font-weight: 600;">
                                $ <%=producto[i].envio%>
                              </span>
                            </div>
                            <%} %>
                              <p class="precioProductoDestacado">$ <%=producto[i].precioProducto%>
                              </p>
                      </div>
                    </div>
                  </a>
                </div>
                <%}%>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev carousel-control-prev-destacados" type="button"
          data-bs-target="#carouselExampleDestacados" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa-solid fa-chevron-left"
              style="color: #3333ff;"></i> </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next carousel-control-next-destacados " type="button"
          data-bs-target="#carouselExampleDestacados" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"><i class="fa-solid fa-chevron-right"
              style="color: #3333ff;"></i></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <!--mobile -->

    <section class="container text-center containerDestacados secc-mob">
      <h2 class="tituloDestacados">Productos destacados</h2>
      <div id="carouselExampleDestacados-mob" class="carousel slide carouselDestacados">
        <div class="carousel-inner carousel-innerDestacados">
          <div class="carousel-item active container text-center">
            <div class="destacados row justify-content-start">
              <% for(let i=0; i < 1; i++) { %>
                <a href="producto/<%=producto[i].id%>">
                  <div class="contenedorProductoDestacado col-12">
                    <div class="productoDestacado">
                      <div class="seccionImgDestacado">
                        <div class="etiquetasDestacados">
                          <% if (producto[i].estadoProducto=="Nuevo" ) { %>
                            <img class="nuevosUsados" src="/img/productos_destacados/nuevo_destacado.svg"
                              alt="nuevoUsado">
                            <%}%>
                              <div class="iconoDestacado">
                                <i class="fa-regular fa-heart noFav" style="color: #3333ff;"></i>
                                <i class="fa-solid fa-heart siFav" style="color: #3333ff;"></i>
                              </div>
                        </div>
                        <div class="contenedorImgProducto ">
                          <img class="imgProducto " src="/img/productos/<%=producto[i].fotoDestacada%>" alt="img-">
                        </div>
                      </div>
                      <div class="informacionProducto">
                        <p class="nombreProductoDestacado">
                          <%=producto[i].nombreProducto%>
                        </p>
                        <%if(producto[i].envio==0) { %>
                          <div class="envio-prod">Envio <span style="font-weight: 600;">GRATIS</span>
                          </div>
                          <%} else{ %>
                            <div class="envio-prod">Envio <span style="font-weight: 600;">
                                $ <%=producto[i].envio%>
                              </span>
                            </div>
                            <%} %>
                              <p class="precioProductoDestacado">$ <%=producto[i].precioProducto%>
                              </p>
                      </div>
                    </div>
                  </div>
                </a>
                <%}%>
            </div>
          </div>
          <div class="carousel-item container text-center">
            <div class="destacados row justify-content-start">
              <% for(let i=1; i < 2; i++) { %>
                <a href="producto/<%=producto[i].id%>">
                  <div class="contenedorProductoDestacado col-12">
                    <div class="productoDestacado">
                      <div class="seccionImgDestacado">
                        <div class="etiquetasDestacados">
                          <% if (producto[i].estadoProducto=="Nuevo" ) { %>
                            <img class="nuevosUsados" src="/img/productos_destacados/nuevo_destacado.svg"
                              alt="nuevoUsado">
                            <%}%>
                              <div class="iconoDestacado">
                                <i class="fa-regular fa-heart noFav" style="color: #3333ff;"></i>
                                <i class="fa-solid fa-heart siFav" style="color: #3333ff;"></i>
                              </div>
                        </div>
                        <div class="contenedorImgProducto ">
                          <img class="imgProducto " src="/img/productos/<%=producto[i].fotoDestacada%>" alt="img-">
                        </div>
                      </div>
                      <div class="informacionProducto">
                        <p class="nombreProductoDestacado">
                          <%=producto[i].nombreProducto%>
                        </p>
                        <%if(producto[i].envio==0) { %>
                          <div class="envio-prod">Envio <span style="font-weight: 600;">GRATIS</span>
                          </div>
                          <%} else{ %>
                            <div class="envio-prod">Envio <span style="font-weight: 600;">
                                $ <%=producto[i].envio%>
                              </span>
                            </div>
                            <%} %>
                              <p class="precioProductoDestacado">$ <%=producto[i].precioProducto%>
                              </p>
                      </div>
                    </div>
                  </div>
                </a>
                <%}%>
            </div>
          </div>
          <div class="carousel-item container text-center">
            <div class="destacados row justify-content-start">
              <% for(let i=2; i < 3; i++) { %>
                <a href="producto/<%=producto[i].id%>">
                  <div class="contenedorProductoDestacado col-12">
                    <div class="productoDestacado">
                      <div class="seccionImgDestacado">
                        <div class="etiquetasDestacados">
                          <% if (producto[i].estadoProducto=="Nuevo" ) { %>
                            <img class="nuevosUsados" src="/img/productos_destacados/nuevo_destacado.svg"
                              alt="nuevoUsado">
                            <%}%>
                              <div class="iconoDestacado">
                                <i class="fa-regular fa-heart noFav" style="color: #3333ff;"></i>
                                <i class="fa-solid fa-heart siFav" style="color: #3333ff;"></i>
                              </div>
                        </div>
                        <div class="contenedorImgProducto ">
                          <img class="imgProducto " src="/img/productos/<%=producto[i].fotoDestacada%>" alt="img-">
                        </div>
                      </div>
                      <div class="informacionProducto">
                        <p class="nombreProductoDestacado">
                          <%=producto[i].nombreProducto%>
                        </p>
                        <%if(producto[i].envio==0) { %>
                          <div class="envio-prod">Envio <span style="font-weight: 600;">GRATIS</span>
                          </div>
                          <%} else{ %>
                            <div class="envio-prod">Envio <span style="font-weight: 600;">
                                $ <%=producto[i].envio%>
                              </span>
                            </div>
                            <%} %>
                              <p class="precioProductoDestacado">$ <%=producto[i].precioProducto%>
                              </p>
                      </div>
                    </div>
                  </div>
                </a>
                <%}%>
            </div>
          </div>
          <div class="carousel-item container text-center">
            <div class="destacados row justify-content-start">
              <% for(let i=3; i < 4; i++) { %>
                <a href="producto/<%=producto[i].id%>">
                  <div class="contenedorProductoDestacado col-12">
                    <div class="productoDestacado">
                      <div class="seccionImgDestacado">
                        <div class="etiquetasDestacados">
                          <% if (producto[i].estadoProducto=="Nuevo" ) { %>
                            <img class="nuevosUsados" src="/img/productos_destacados/nuevo_destacado.svg"
                              alt="nuevoUsado">
                            <%}%>
                              <div class="iconoDestacado">
                                <i class="fa-regular fa-heart noFav" style="color: #3333ff;"></i>
                                <i class="fa-solid fa-heart siFav" style="color: #3333ff;"></i>
                              </div>
                        </div>
                        <div class="contenedorImgProducto ">
                          <img class="imgProducto " src="/img/productos/<%=producto[i].fotoDestacada%>" alt="img-">
                        </div>
                      </div>
                      <div class="informacionProducto">
                        <p class="nombreProductoDestacado">
                          <%=producto[i].nombreProducto%>
                        </p>
                        <%if(producto[i].envio==0) { %>
                          <div class="envio-prod">Envio <span style="font-weight: 600;">GRATIS</span>
                          </div>
                          <%} else{ %>
                            <div class="envio-prod">Envio <span style="font-weight: 600;">
                               $ <%=producto[i].envio%>
                              </span>
                            </div>
                            <%} %>
                              <p class="precioProductoDestacado">$ <%=producto[i].precioProducto%>
                              </p>
                      </div>
                    </div>
                  </div>
                </a>
                <%}%>
            </div>
          </div>
          <div class="carousel-item container text-center">
            <div class="destacados row justify-content-start">
              <% for(let i=4; i < 5; i++) { %>
                <a href="producto/<%=producto[i].id%>">
                  <div class="contenedorProductoDestacado col-12">
                    <div class="productoDestacado">
                      <div class="seccionImgDestacado">
                        <div class="etiquetasDestacados">
                          <% if (producto[i].estadoProducto=="Nuevo" ) { %>
                            <img class="nuevosUsados" src="/img/productos_destacados/nuevo_destacado.svg"
                              alt="nuevoUsado">
                            <%}%>
                              <div class="iconoDestacado">
                                <i class="fa-regular fa-heart noFav" style="color: #3333ff;"></i>
                                <i class="fa-solid fa-heart siFav" style="color: #3333ff;"></i>
                              </div>
                        </div>
                        <div class="contenedorImgProducto ">
                          <img class="imgProducto " src="/img/productos/<%=producto[i].fotoDestacada%>" alt="img-">
                        </div>
                      </div>
                      <div class="informacionProducto">
                        <p class="nombreProductoDestacado">
                          <%=producto[i].nombreProducto%>
                        </p>
                        <%if(producto[i].envio==0) { %>
                          <div class="envio-prod">Envio <span style="font-weight: 600;">GRATIS</span>
                          </div>
                          <%} else{ %>
                            <div class="envio-prod">Envio <span style="font-weight: 600;">
                                $ <%=producto[i].envio%>
                              </span>
                            </div>
                            <%} %>
                              <p class="precioProductoDestacado">$ <%=producto[i].precioProducto%>
                              </p>
                      </div>
                    </div>
                  </div>
                </a>
                <%}%>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev carousel-control-prev-destacados" type="button"
          data-bs-target="#carouselExampleDestacados-mob" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa-solid fa-chevron-left"
              style="color: #3333ff;"></i> </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next carousel-control-next-destacados " type="button"
          data-bs-target="#carouselExampleDestacados-mob" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"><i class="fa-solid fa-chevron-right"
              style="color: #3333ff;"></i></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <!--TERMINA: PRODUCTOS DESTACADOS - KIARA -->

    <!--EMPIEZA: BANNERS -> USADOS & NUEVOS - JUAN -->
    <section class="banners_container">
      <a href="/productos/productosUsados" class="banners-links">
        <article class="banner1">
          <div class="b1">
            <p class="linea1">Los mejores instrumentos</p>
            <p class="tit">USADOS</p>
            <p class="linea3">están en <span style="font-weight: 700;">Tienda Sound</span></p>
            <div class="ray">
              <img src="/img/banner/ray.svg" alt="">
            </div>
            <div class="ray2">
              <img src="/img/banner/rayhover.svg" alt="">
            </div>
          </div>
        </article>
      </a>
      <a href="/productos/productosNuevos" class="banners-links">
        <article class="banner2">
          <div class="b2">
            <p class="linea1">Si buscás instrumentos</p>
            <p class="tit">NUEVOS</p>
            <p class="linea3">en <span style="font-weight: 700;">Tienda Sound</span> los encontrás</p>
            <div class="ray">
              <img src="/img/banner/ray.svg" alt="">
            </div>
            <div class="ray2">
              <img src="/img/banner/rayhover.svg" alt="">
            </div>
          </div>
        </article>
      </a>
    </section>
    <!--TERMINA: BANNERS -> USADOS & NUEVOS - JUAN -->

    <!--EMPIEZA: COMO FUNCIONA - JUAN -->
    <section class="comofunciona">
      <h2>¿Cómo funciona?</h2>
      <section class="paracomprar">
        <article class="pc">
          <div class="icono_funciona_para"><img src="/img/comofunciona/paracomprar.svg" alt="paracomprar"></div>
        </article>
        <article class="pv">
          <div class="icono_funciona"><img src="/img/comofunciona/pc1.svg" alt=""></div>
          <h5 class="numero">1.</h5>
          <p class="descripcf">Elegí un producto y ofertá al vendedor.</p>
        </article>
        <article class="pc">
          <div class="icono_funciona"><img src="/img/comofunciona/pc2.svg" alt=""></div>
          <h5 class="numero">2.</h5>
          <p class="descripcf">Una vez aceptada, realizá el pago seguro.</p>
        </article>
        <article class="pc">
          <div class="icono_funciona"><img src="/img/comofunciona/pc3.svg" alt=""></div>
          <h5 class="numero">3.</h5>
          <p class="descripcf">Retenemos el dinero hasta que recibas y compruebes tu compra.</p>
        </article>
        <article class="pc">
          <div class="icono_funciona"><img src="/img/comofunciona/pc4.svg" alt=""></div>
          <h5 class="numero">4.</h5>
          <p class="descripcf">Nos encargamos de enviártela a tu domicilio.</p>
        </article>
        <article class="pc">
          <div class="icono_funciona"><img src="/img/comofunciona/pc5.svg" alt=""></div>
          <h5 class="numero">5.</h5>
          <p class="descripcf">Atención personalizada las 24 hs.</p>
        </article>
      </section>
      <section class="paravender">
        <article class="pv">
          <div class="icono_funciona_para"><img src="/img/comofunciona/paravender.svg" alt="paracomprar"></div>
        </article>
        <article class="pv">
          <div class="icono_funciona"><img src="/img/comofunciona/pv1.svg" alt=""></div>
          <h5 class="numero">1.</h5>
          <p class="descripcf">Publicá tu artículo en cuestión de segundos.</p>
        </article>
        <article class="pv">
          <div class="icono_funciona"><img src="/img/comofunciona/pv2.svg" alt=""></div>
          <h5 class="numero">2.</h5>
          <p class="descripcf">Aceptá la mejor oferta.</p>
        </article>
        <article class="pv">
          <div class="icono_funciona"><img src="/img/comofunciona/pv3.svg" alt=""></div>
          <h5 class="numero">3.</h5>
          <p class="descripcf">Embalá tu paquete y te lo recogemos en tu domicilio.</p>
        </article>
        <article class="pv">
          <div class="icono_funciona"><img src="/img/comofunciona/pv4.svg" alt=""></div>
          <h5 class="numero">4.</h5>
          <p class="descripcf">Cobro 100% seguro y gestionamos el envío con el comprador.</p>
        </article>
        <article class="pv">
          <div class="icono_funciona"><img src="/img/comofunciona/pc5.svg" alt=""></div>
          <h5 class="numero">5.</h5>
          <p class="descripcf">Atención personalizada las 24 hs.</p>
        </article>
      </section>
    </section>

    <!--TERMINA: COMO FUNCIONA - JUAN -->
    <!--COMIENZA: FOOTER - LEO -->
    <%- include('./../partials/footer') %>
      <script src="https://kit.fontawesome.com/2396c6fc63.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>