<!DOCTYPE html>
<html lang="en">
<%- include('./../partials/head.ejs', {style: 'productos.css',title: 'Productos' }) %>

  <body>
    <%- include('./../partials/header') %>
      <a href="/">
        <div class="producto-volver-flecha-volver">
          <img src="/img/flecha.svg" alt="">
          <p>Volver</p>
        </div>
      </a>
      <main>
        <div class="main-grid">
          <section class="filtros">
            <h1>Productos</h1>
            <h2>Categorias</h2>
            <ul>
              <li>Guitarras y Bajos</li>
              <li>Batería y Percusión</li>
              <li>Teclados y Sintetizadores</li>
              <li>Estudio de Grabación, Dj's</li>
              <li>Vientos</li>
              <li>Cuerdas</li>
            </ul>
            <h2>Marcas</h2>
            <ul>
              <li>Audio Anatomy</li>
              <li>Big Dipper</li>
              <li>Db Technologies</li>
              <li>Electro Harmonix</li>
              <li>Ernie Ball</li>
              <li>Legends</li>
            </ul>
            <h2>Estado</h2>
            <ul>
              <li>Nuevo</li>
              <li>Usado</li>
            </ul>
            <h2>Precio</h2>
            <div>
              <input type="number" placeholder="Desde">
              <input type="number" placeholder="Hasta">
              <button>Ok</button>
            </div>
          </section>
          <section class="grid">
            <% for(let i=0; i<productos.length; i++){%>
              <article>
                <div class="productogrid">
                  <a href="/productos/<%=productos[i].id%>">
                    <div class="img-cont">
                      <img src="https://res.cloudinary.com/dlf8flk1o/image/upload/v1692147408/productos/<%=productos[i].fotoDestacada%>" alt="foto">
                    </div>
                    <div class="text">
                      <% if (productos[i].estadoProducto=="Nuevo" ) { %>
                        <div class="nuevo-usado"><i class="fa-solid fa-star" style="scale:60%"></i>
                          <%=productos[i].estadoProducto%>
                        </div>
                        <%}%>
                          <h3>
                            <%=productos[i].nombreProducto%>
                          </h3>
                          <%if(productos[i].envio==0) { %>
                            <div class="envio-prod">Envio <span style="font-weight: 600;">GRATIS</span></div>
                            <%} else{ %>
                              <div class="envio-prod">Envio <span style="font-weight: 600;">
                                  $ <%=productos[i].envio%>
                                </span>
                              </div>
                              <%} %>
                                <div class="precio-prod">$ <%=productos[i].precioProducto%>
                                </div>
                    </div>
                  </a>
                </div>
              </article>
              <% } %>
          </section>
        </div>
      </main>
      <%- include('./../partials/footer') %>
        <script src="https://kit.fontawesome.com/2396c6fc63.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"></script>
  </body>

</html>