<!DOCTYPE html>
<html lang="en">
  <%- include('./../partials/head.ejs', { title: 'Productos' }) %>
<body>
  <%- include('./../partials/header') %>
    <main>
      
      <section class="grid">
        <% for(let i=0; i<producto.length; i++){%>
          <article>
            <div class="productogrid">
              <a href="/producto/<%=producto[i].id%>">
                <div class="img-cont">
                  <img src="/img/productos/<%=producto[i].fotoDestacada%>" alt="foto">
                </div>
                <div class="text">
                  <div class="nuevo-usado"><i class="fa-solid fa-star" style="scale:60%"></i>
                  <%=producto[i].estadoProducto%>
                  </div>
                  <h3>
                  <%=producto[i].nombreProducto%>
                  </h3>
                  <div class="envio-prod">Envio <span style="font-weight: 600;">GRATIS</span></div>
                  <div class="precio-prod">$ <%=producto[i].precioProducto%>
                  </div>
                </div>
              </a>
            </div>
          </article>
          <% } %>
      </section>
    </main>
    <%- include('./../partials/footer') %>
      <script src="https://kit.fontawesome.com/2396c6fc63.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>