<!DOCTYPE html>
<html lang="en">
  <%- include('./../partials/head.ejs', { style: 'profile.css', title:
  'Perfil'}) %>

  <body>
    <%- include('./../partials/header') %>

    <a href="/">
      <div class="producto-volver-flecha-volver">
        <img src="/img/flecha.svg" alt="" />
        <p>Volver</p>
      </div>
    </a>
    <main class="profile-grid">
      <%- include('./../partials/profileMenu') %>
      <section class="profile-form-container">
        <article class="dashboard-grid grid-user-data">
          <div class="user-data area1">
            <img
              src="https://res.cloudinary.com/dlf8flk1o/image/upload/v1693694816/totalventas_m5289x.png"
              alt=""
            />
            <div>
              <h4>$300.405</h4>
              <p>Total vendido</p>
            </div>
          </div>
          <div class="user-data area2">
            <img
              src="https://res.cloudinary.com/dlf8flk1o/image/upload/v1693695319/totalproductos_cdqxoz.png"
              alt=""
            />
            <div>
              <h4>35</h4>
              <p>Productos en total</p>
            </div>
          </div>
          <div class="user-data area3">
            <img
              src="https://res.cloudinary.com/dlf8flk1o/image/upload/v1693695319/totalordenes_w7smpy.png"
              alt=""
            />
            <div>
              <h4>12</h4>
              <p>Ordenes en proceso</p>
            </div>
          </div>
          <div class="area4">
            <canvas id="myChart" height="50" width="50"></canvas>
          </div>
          <div class="area5">
            <img
              class="avatar-pic"
              src="http://res.cloudinary.com/dlf8flk1o/image/upload/v1692991185/avatars/<%=user.imagen%>"
              alt=""
            />
            <span>Nombre</span>
            <h5><%= user.nombreCompleto %></h5>
            <span>Email</span>
            <p><%= user.email %></p>
            <a href="/users/editarUser/<%= user.id %>" class="btn-editar"
              >EDITAR USUARIO</a
            >
            <form
              class="eliminarUsuario"
              action="/users/borrarUser/<%= user.id %>?_method=DELETE"
              method="POST"
            >
              <button type="submit" class="btn-eliminar">
                ELIMINAR CUENTA
              </button>
            </form>
          </div>
        </article>
      </section>
    </main>

    <%- include('./../partials/footer') %>
    <script
      src="https://kit.fontawesome.com/2396c6fc63.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script type="module">
      var ctx = document.getElementById("myChart").getContext("2d");
      const months = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio"];

      // Define tus datos y opciones del gráfico
      
      const data = {
        labels: months,
        datasets: [
          {
            label: "Mis ventas",
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            borderColor: "rgb(216, 74, 144)",
            borderWidth: 1.5,
            tension: 0.1,
          },
        ],
      };

      // Crea el gráfico
      var miGrafico = new Chart(ctx, {
        type: "line",
        data: data,
        options: {
          responsive: true,
          maintainAspectRatio: false, // Agrega esta línea para desactivar el ajuste automático
          aspectRatio: 1, // Define una relación de aspecto para el gráfico (ancho:alto)
        },
      });
    </script>
    <script src= "../js/alertEliminarUsuario.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
