<!DOCTYPE html>
<html lang="en">
<%- include('./../partials/head.ejs', { style: 'login.css', title: 'Register' }) %>

  <body>
    <%- include('./../partials/header') %>
      <main class="main-login">
        <a href="/">
          <div class="flecha-volver">
            <img src="/img/flecha.svg" alt="">
            <p>Volver</p>
          </div>
        </a>
        <section class="form-register form-container container col-lg-5 col-md-8 col-sm-12 mx-auto">
          <h1><span class="texto-resaltado">Registrate</span> y creá tu cuenta!</h1>     
    
          <form action="/users/register" class="base-form register-form" method="POST" enctype="multipart/form-data">
            
            <input type="text" placeholder="Nombre Completo" id="nombreCompleto" name="nombreCompleto" value="<%= locals.oldData ? oldData.nombreCompleto : null  %>">
            
            <% if (locals.errors && errors.nombreCompleto) { %>
            <div class="text-danger">
              <i class="fa-solid fa-triangle-exclamation"></i> <%= errors.nombreCompleto.msg %>
            </div>
            <% } %>
            <div class="text-danger nombre"></div>



            <input type="email" placeholder="Correo electrónico" id="email" name="email" value="<%= locals.oldData ? oldData.email : null  %>">

            <% if (locals.errors && errors.email) { %>
              <div class="text-danger">
              <i class="fa-solid fa-triangle-exclamation"></i> <%= errors.email.msg %>
              </div>
             <% } %>

            <div class="text-danger mail"></div>

            <input type="password" placeholder="Contraseña" id ="password" name="password" value="<%= locals.oldData ? oldData.password : null  %>">

            <% if (locals.errors && errors.password) { %>
              <div class="text-danger">
              <i class="fa-solid fa-triangle-exclamation"></i> <%= errors.password.msg %>
              </div>
             <% } %>
             <div class="text-danger pass"></div>
            
            <label for="avatar" style="padding-bottom: 5px;"><i class="fa-regular fa-id-card"></i>  Imagen de tu Perfil</label>
            <input type="file" name="avatar" style="padding-top: 17px;">
           <% if (locals.errors && errors.avatar) { %>
             <div class="text-danger">
              <i class="fa-solid fa-triangle-exclamation"></i> <%= errors.avatar.msg %>
             </div>
           <% } %>

            <div class="terminos-condiciones">
              <input type="checkbox" value="" id="checkbox" name="checkbox">
              <span>He leído y acepto los terminos y condiciones</span>
            </div>
            <div class="text-danger check"></div>
            <% if (locals.errors && errors.checkbox) { %>
              <div class="text-danger">
              <i class="fa-solid fa-triangle-exclamation"></i> <%= errors.checkbox.msg %>
              </div>
            <% } %>

            <button type="submit" id="btnSubmit" class="form-btn inicio-btn">Registrarme</button>
            <hr class="btn-division">
            <button type="button" class="form-btn google-btn">
              <img src="/img/google_icon.png">Crea tu cuenta con Google
            </button>
            <button type="button" class="form-btn facebook-btn">
              <img src="/img/facebook_icon.png">Crea tu cuenta con Facebook
            </button>
          </form>
        </section>
      </main>
      <%- include('./../partials/footer') %>
        <script src="https://kit.fontawesome.com/2396c6fc63.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"></script>
        <script src= "../js/scriptRegister.js"></script>
  </body>

</html>